.toc {

    background-color: $color-grey-light-1;
}
.design {
    background-color: $color-grey-light-2;

}
.art_direction {
    background-color: $color-grey-light-1;

}
.set_decoration {
    background-color: $color-grey-light-2;

}
.pre-visualization {
    background-color: $color-grey-light-1;

}
.about {
    background-color: $color-grey-light-2;
}