

.toc {
  margin: 0 -10px;
  padding: 0;
  list-style: none;
  background-color: $color-grey-light-1;

  li {
    background-color: #f4fce3;
    border: 1px solid #d8f5a2;
    margin: 0 10px 20px 10px;
    padding: 10px;
    border-radius: 5px;
  }
}

.design {
  margin: 0 -10px;
  padding: 0;
  list-style: none;
  background-color: $color-grey-light-2;

  &__films {
    background-color: #f4fce3;
    border: 1px solid #d8f5a2;
    margin: 0 10px 20px 10px;
    padding: 10px;
    border-radius: 5px;
  }
}

.art_direction {
  margin: 0 -10px;
  padding: 0;
  list-style: none;
  background-color: $color-grey-light-1;

  &__films {
    background-color: #f4fce3;
    border: 1px solid #d8f5a2;
    margin: 0 10px 20px 10px;
    padding: 10px;
    border-radius: 5px;
  }
}

.set_decoration {
  margin: 0 -10px;
  padding: 0;
  list-style: none;
  background-color: $color-grey-light-2;

  &__films {
    background-color: #f4fce3;
    border: 1px solid #d8f5a2;
    margin: 0 10px 20px 10px;
    padding: 10px;
    border-radius: 5px;
  }
}

.pre-visualization {
  margin: 0 -10px;
  padding: 0;
  list-style: none;
  background-color: $color-grey-light-1;

  &__work {
    background-color: #f4fce3;
    border: 1px solid #d8f5a2;
    margin: 0 10px 20px 10px;
    padding: 10px;
    border-radius: 5px;
  }
}

.about {
  margin: 0 -10px;
  padding: 0;
  list-style: none;
  background-color: $color-grey-light-2;

  &__items {
    background-color: #f4fce3;
    border: 1px solid #d8f5a2;
    margin: 0 10px 20px 10px;
    padding: 10px;
    border-radius: 5px;
  }
}

ul {
  list-style: none;
}
